$layer-0: 0 !default;
$layer-1: 1 !default;
$layer-2: 2 !default;
$layer-3: 3 !default;
$layer-4: 4 !default;
$layer-5: 5 !default;
$layer-6: 6 !default;
$layer-7: 7 !default;
$layer-8: 8 !default;
$layer-9: 9 !default;
$layer-10: 10 !default;
$layer-20: 20 !default;
$layer-30: 30 !default;
$layer-40: 40 !default;
$layer-50: 50 !default;
$layer-60: 60 !default;
$layer-70: 70 !default;
$layer-80: 80 !default;
$layer-90: 90 !default;
$layer-100: 100 !default;

$border-radius: 2px !default;