// Import Compass Core
@import "contrib/compass/css3";
@import "contrib/compass/utilities";

// Import Ink Variables
@import "ink-flex.scss";

// Styles
body {
    background: #f0f0f0;
}

#bar {
    background: $grey-70;
}

.topbar {
    height: 45px;
    position: fixed;
    top: 0;
	@extend .all-100;
	border-bottom:1px solid $black;
    @extend .uppercase;
    z-index: $layer-10;
    background: rgba(0,0,0,0.8);
    -webkit-transform: scale3d(1,1,1);
    
    .ink-navigation {
            
        .menu li {

            font-size: .875em;
            &.logo {
                a {
                    font-size: 1.5em;
                    padding: 0;
                    @extend .lowercase;
                    @extend .slab-400;
                    color: $white;
                    span {
                        display: inline-block;
                        &:first-child {
                            margin-right: -2px;
                        }
                        &.dot {
                            height: .2em;
                            width: .2em;
                            border-radius: 50%;
                            background: orange;
                        }
                        &:last-child {
                            margin-left: -2px;
                        }
                    }
                    &:hover { background: none; }
                }
            }

            a {
                color: $grey-20;
                text-decoration: none;
                @include transition(all 120ms ease-in);
                &:hover,
                &:focus { 
                    color: $white;
                    background: $grey-75;
                }
            }
            
            &.left-drawer-trigger {
                z-index: $layer-100;
                button {
                    height: 42px;
                    padding: 0;
                    border: none;
                    color: $grey-20;
                    background: none;
                    &:hover,
                    &:focus {
                        color: $white;
                    }
                }
            }
        }
    }
}

.left-drawer {
	background: $grey-85; 
    .items {
        margin: 40px 0 0 0;
        padding: 0;
        list-style-type: none;
        li {
            @extend .uppercase;
            @extend .fw-300;
            margin: 0;
            padding: .8em 1em;
            border-bottom: 1px solid $grey-70;
            
            &:hover,
            &:focus {
                color: $white;
                background: $grey-80;
                a { color: $white; }
            }

            a {
                color: $grey-30;
                text-decoration: none;

                span {
                    @extend .half-right-space;
                    &.internacional { color: #fdfdfd; }
                    &.cultura       { color: #5856D6; }
                    &.ciencias      { color: #34AADC; }
                    &.tecnologia    { color: #FFCC00; }
                    &.desporto      { color: #FF9500; }
                    &.politica      { color: #FF3A2D; }
                    &.geral         { color: #8E8E93; }
                }
            }
        }
    }
}

#mainwrapper {
    margin-top: 4em;
    
    /*
    list-style-type: none;  
    
    li {
        &:nth-child(3n+1) {
            clear: both;
        }
    }
    */   
}

.box {
    background: $white;
    @include box-shadow(0 1px 2px $grey-20);

    img { width:100% }
    
    a.origin {
        display: block;
        font-weight: 400;
        font-size: .875em;
        margin-bottom: .3em;
        img {
            margin-top: -.2em;
            margin-right: .4em;
            vertical-align: middle;
        }
    }

    h1 {
        font-size: 1.125em;
        line-height: normal;
    }

    .toolbar {
        button {
            background: $white;
            border: none;
            border-top: 1px solid $grey-10;
            padding: .8em;
            &:hover,
            &:focus {
                background: #f0f0f0;
            }
            &.love { 
                color: $green;
                border-right: 1px solid $grey-15; 
            }
            &.hate {
                color: red;
            }
        }
    }
}

/* for xlarge screens */
@media screen and (min-width: 1261px) {
  /* your css for xlarge screens goes here ... */
}
/* for large screens */
@media screen and (min-width: 961px) and (max-width: 1260px) {
  /* your css for large screens goes here ... */
}
/* for medium screens */
@media screen and (min-width: 641px) and (max-width: 960px) {
  /* your css for medium screens goes here ... */
    .topbar .ink-navigation .menu li {
        &.logo a {
           height: 40px;
            display: block;
            line-height: 38px;
        }
    }
}
/* for small screens */
@media screen and (min-width: 321px) and (max-width: 640px) {
    /* your css for small screens goes here ... */
    .topbar .ink-navigation .menu li {
        &.logo a {
           height: 40px;
            display: block;
            line-height: 38px;
        }
    }
}
/* for tiny screens */
@media screen and (max-width: 320px) {
    /* your css for tiny screens goes here ... */
    .topbar .ink-navigation .menu li {
        &.logo a {
           height: 40px;
            display: block;
            line-height: 38px;
        }
    }
}