// Import Compass Core
@import "contrib/compass/css3";
@import "contrib/compass/utilities";

// Import Ink Variables
@import "ink-flex.scss";

//Site variables
$internacional: #FDFDFD; 
$cultura:       #5856D6;       
$ciencias:      #34AADC;      
$tecnologia:    #FFCC00;    
$desporto:      #FF9500;      
$politica:      #FF3A2D;      
$geral:         #8E8E93;         

// Styles
body {
    background: #f0f0f0;
}

#bar {
    background: $grey-70;
}

.topbar {
    height: 45px;
    position: fixed;
    top: 0;
	@extend .all-100;
	border-bottom:1px solid $black;
    @extend .uppercase;
    z-index: $layer-10;
    background: rgba(0,0,0,0.8);
    -webkit-transform: scale3d(1,1,1);
    
    .ink-navigation {
            
        .menu li {

            font-size: .875em;
            &.logo {
                a {
                    font-size: 1.5em;
                    padding: 0;
                    @extend .lowercase;
                    @extend .slab-400;
                    color: $white;
                    span {
                        display: inline-block;
                        &:first-child {
                            margin-right: -2px;
                        }
                        &.dot {
                            height: .2em;
                            width: .2em;
                            border-radius: 50%;
                            background: orange;
                        }
                        &:last-child {
                            margin-left: -2px;
                        }
                    }
                    &:hover { background: none; }
                }
            }

            a {
                color: $grey-20;
                text-decoration: none;
                @include transition(all 120ms ease-in);
                &:hover,
                &:focus { 
                    color: $white;
                    background: $grey-75;
                }
            }
            
            &.left-drawer-trigger {
                z-index: $layer-100;
                button {
                    height: 42px;
                    padding: 0;
                    border: none;
                    color: $grey-20;
                    background: none;
                    &:hover,
                    &:focus {
                        color: $white;
                    }
                }
            }
        }
    }
}

.date {
    position: fixed;
    top: 4em;
    left: 2em;
    z-index: $layer-10;
    @include box-shadow(0 0 2px rgba(0,0,0,.6));

    .ink-button {
        margin: 0;
        color: #f0f0f0;
        @include transition(compact(all 140ms ease-in-out));
        
        &:hover,
        &:focus { 
            background: rgba(0,0,0,0.9); 
        }
    }
}

.left-drawer {
	background: $grey-85; 
    .items {
        margin: 40px 0 0 0;
        padding: 0;
        list-style-type: none;
        li {
            @extend .uppercase;
            @extend .fw-300;
            margin: 0;
            padding: .8em 1em;
            border-bottom: 1px solid $grey-70;
            
            &:hover,
            &:focus {
                color: $white;
                background: $grey-80;
                a { 
                    color: $white; 
                    span {
                        &.internacional { color: lighten($internacional,10%) ; }
                        &.cultura       { color: lighten($cultura,10%)       ; }
                        &.ciencias      { color: lighten($ciencias,10%)      ; }
                        &.tecnologia    { color: lighten($tecnologia,10%)    ; }
                        &.desporto      { color: lighten($desporto,10%)      ; }
                        &.politica      { color: lighten($politica,10%)      ; }
                        &.geral         { color: lighten($geral,10%)         ; }
                    }
                }
            }

            a {
                color: $grey-30;
                text-decoration: none;

                span {
                    @extend .half-right-space;
                    &.internacional { color: $internacional ; }
                    &.cultura       { color: $cultura       ; }
                    &.ciencias      { color: $ciencias      ; }
                    &.tecnologia    { color: $tecnologia    ; }
                    &.desporto      { color: $desporto      ; }
                    &.politica      { color: $politica      ; }
                    &.geral         { color: $geral         ; }
                }
            }
        }
    }
}

#mainwrapper {
    margin-top: 4em;
}

.box {
    position: relative;
    background: $white;
    @include box-shadow(0 1px 2px $grey-20);

    img { width:100% }
    
    a.origin {
        display: block;
        font-weight: 400;
        font-size: .875em;
        margin-bottom: .3em;
        img {
            margin-top: -.2em;
            margin-right: .4em;
            vertical-align: middle;
        }
    }

    h1 {
        font-size: 1.125em;
        line-height: normal;
    }

    .toolbar {
        position: absolute;
        bottom: 0;
        width: 100%;
        button {
            background: $white;
            border: none;
            border-top: 1px solid $grey-10;
            padding: .8em;
            &:hover,
            &:focus {
                background: #f0f0f0;
            }
            &.love { 
                color: $green;
                border-right: 1px solid $grey-15; 
            }
            &.hate {
                color: red;
            }
        }
    }
}

/* for xlarge screens */
@media screen and (min-width: 1261px) {
  /* your css for xlarge screens goes here ... */
}
/* for large screens */
@media screen and (min-width: 961px) and (max-width: 1260px) {
  /* your css for large screens goes here ... */
  .date { left: 1.75em; }
}
/* for medium screens */
@media screen and (min-width: 641px) and (max-width: 960px) {
  /* your css for medium screens goes here ... */
    .topbar .ink-navigation .menu li {
        &.logo a {
           height: 40px;
            display: block;
            line-height: 38px;
        }
    }
    .date { left: 1.5em; }
}
/* for small screens */
@media screen and (min-width: 321px) and (max-width: 640px) {
    /* your css for small screens goes here ... */
    .topbar .ink-navigation .menu li {
        &.logo a {
           height: 40px;
            display: block;
            line-height: 38px;
        }
    }
    .date { left: 1.25em; }
}
/* for tiny screens */
@media screen and (max-width: 320px) {
    /* your css for tiny screens goes here ... */
    .topbar .ink-navigation .menu li {
        &.logo a {
           height: 40px;
            display: block;
            line-height: 38px;
        }
    }
    .date { left: 1em; }
}