// Import Compass Core
@import "contrib/compass/css3";
@import "contrib/compass/utilities";

// Import Ink Variables
@import "config/colors";
@import "config/common";
@import "config/typography";

// Shorthands
.fw-100, .fw-light      { font-weight: 100; } 
.fw-300, .fw-thin       { font-weight: 300; }
.fw-400, .fw-regular    { font-weight: 400; }
.fw-500, .fw-medium     { font-weight: 500; }
.fw-700, .fw-bold       { font-weight: 700; }
.fw-900, .fw-black      { font-weight: 900; }

.condensed-300, .condensed-thin {
    font-weight: 300;
    font-family: $condensed-font-stack;
}

.condensed-400, .condensed-regular {
    font-weight: 400;
    font-family: $condensed-font-stack;
}

.condensed-700, .condensed-bold {
    font-weight: 700;
    font-family: $condensed-font-stack;
}

.slab-100, .slab-light {
    font-weight: 100;
    font-family: $slab-font-stack;
}

.slab-300, .slab-thin {
    font-weight: 300;
    font-family: $slab-font-stack;
}

.slab-400, .slab-regular {
    font-weight: 400;
    font-family: $slab-font-stack;
}

.slab-700, .slab-bold {
    font-weight: 700;
    font-family: $slab-font-stack;
}

.sans           { font-family: $sans-serif-font-stack; }
.serif          { font-family: $serif-font-stack; }
.monospace      { font-family: $mono-font-stack; }
.condensed      { font-family: $condensed-font-stack; }
.slab           { font-family: $slab-font-stack; }
.italic         { font-style: italic; }
.uppercase      { text-transform: uppercase; }
.lowercase      { text-transform: lowercase; }
.capitalize     { text-transform: capitalize; }
.normal         { text-transform: none; }

.small      { font-size: .75em; }
.medium     { font-size: .85em; }
.large      { font-size: 1.2em; }
.extralarge { font-size: 1.45em !important; }

// Styles
.topbar { 
	background: $grey-90; 
}

.left-drawer {
	background: $grey-80;
}



