<div class="left-drawer">
    <ul class="items">
        <li><a href=""><span class="fa fa-circle internacional"></span>Internacional</a></li>
        <li><a href=""><span class="fa fa-circle cultura"></span>Cultura</a></li>
        <li><a href=""><span class="fa fa-circle ciencias"></span>Ciências</a></li>
        <li><a href=""><span class="fa fa-circle tecnologias"></span>Tecnologia</a></li>
        <li><a href=""><span class="fa fa-circle desporto"></span>Desporto</a></li>
        <li><a href=""><span class="fa fa-circle economia"></span>Economia</a></li>
        <li><a href=""><span class="fa fa-circle politica"></span>Política</a></li>
        <li><a href=""><span class="fa fa-circle geral"></span>Geral</a></li>
        <li><a href=""><span class="fa fa-dashboard"></span>Settings</a></li>
        <li class="logout"><a href=""><span class="fa fa-power-off"></span>Logout</a></li>
    </ul>
</div>