<div class="left-drawer">
    <ul class="items">
        <li><a href=""><span class="fa fa-reorder"></span>Internacional</a></li>
        <li><a href=""><span class="fa fa-reorder"></span>Cultura</a></li>
        <li><a href=""><span class="fa fa-reorder"></span>Ciências</a></li>
        <li><a href=""><span class="fa fa-reorder"></span>Tecnologia</a></li>
        <li><a href=""><span class="fa fa-reorder"></span>Desporto</a></li>
        <li><a href=""><span class="fa fa-reorder"></span>Economia</a></li>
        <li><a href=""><span class="fa fa-reorder"></span>Política</a></li>
        <li><a href=""><span class="fa fa-reorder"></span>Geral</a></li>
    </ul>
</div>