<div id="bar">
    <div id="done"></div>
</div>

<div class="topbar">
    <nav class="ink-navigation ink-grid">
        <ul class="menu horizontal black">
            <li class="hide-all show-small show-tiny"><a href ="" class="left-drawer-trigger"><span class="fa fa-reorder"></span></a></li> 
            <li class="hide-small hide-tiny"><a href="#">Internacional</a></li>
            <li class="hide-small hide-tiny"><a href="#">Cultura</a></li>
            <li class="hide-small hide-tiny"><a href="#">Ciencias</a></li>
            <li class="hide-small hide-tiny"><a href="#">Tecnologia</a></li>
            <li class="hide-small hide-tiny"><a href="#">Desporto</a></li>
            <li class="hide-small hide-tiny"><a href="#">Economia</a></li>
            <li class="hide-small hide-tiny"><a href="#">Politica</a></li>
            <li class="hide-small hide-tiny"><a href="#">Geral</a></li>
        </ul>
    </nav>
</div>