
<div class="topbar">
    <div id="bar">
        <div id="done"></div>
    </div>
    <nav class="ink-navigation ink-grid">
        
        <ul class="menu horizontal xlarge-push-left large-push-left">
            <li class="hide-all show-medium show-small show-tiny"><button class="left-drawer-trigger fa fa-reorder fa-lg"></button></li> 
            <li class="logo medium-push-center small-push-center tiny-push-center align-center">
                <a href ="#">
                    <span>Actualida</span>
                    <span class="dot">.</span>
                    <span>de</span>
                </a>
            </li> 
        </ul>
        
        <ul class="menu horizontal push-right hide-medium hide-small hide-tiny">
            <li><a href="#">Internacional</a></li>
            <li><a href="#">Cultura</a></li>
            <li><a href="#">Ciencias</a></li>
            <li><a href="#">Tecnologia</a></li>
            <li><a href="#">Desporto</a></li>
            <li><a href="#">Economia</a></li>
            <li><a href="#">Politica</a></li>
            <li><a href="#">Geral</a></li>
        </ul>

    </nav>
</div>