
<div class="topbar">
    <div id="bar">
        <div id="done"></div>
    </div>
    <nav class="ink-navigation ink-grid">
        <ul class="menu horizontal">
            <li class="hide-all show-medium show-small show-tiny"><a href ="" class="left-drawer-trigger"><span class="fa fa-reorder fa-lg"></span></a></li> 
            
            <!--
            <li class="logo">
                <a href ="#">
                    <span class="slab-400">Actualida</span>
                    <span class="dot">.</span>
                    <span>de</span>
                </a>
            </li> 
            -->
            <li class="hide-medium hide-small hide-tiny"><a href="#">Internacional</a></li>
            <li class="hide-medium hide-small hide-tiny"><a href="#">Cultura</a></li>
            <li class="hide-medium hide-small hide-tiny"><a href="#">Ciencias</a></li>
            <li class="hide-medium hide-small hide-tiny"><a href="#">Tecnologia</a></li>
            <li class="hide-medium hide-small hide-tiny"><a href="#">Desporto</a></li>
            <li class="hide-medium hide-small hide-tiny"><a href="#">Economia</a></li>
            <li class="hide-medium hide-small hide-tiny"><a href="#">Politica</a></li>
            <li class="hide-medium hide-small hide-tiny"><a href="#">Geral</a></li>
        </ul>
    </nav>
</div>